<!DOCTYPE html>
<html>
<head>
	<title>Drone Location</title>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="{{ url_for('static', filename='trial.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Heebo|Roboto:900|PT+Serif:700" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body onunload="GUnload()">
	<h1>Drone Location</h1>

		<div id="inputs">
		<div id="wrapper">
                <h3>The drone will be sent to {{ city }}! The details are: </h3>
                Coordinates: {{ cood }}<br />
                Rain (on a scale of 100):  {{ rain }}<br />
				Traffic Index:  {{ traffic }}<br />
				<br>
				<div id="map" style="width: 2050px; height: 300px"></div> 
		</div>
	</div>
	
	

   <script type="text/javascript"> 
      var myOptions = {
         zoom: 18,
         center: new google.maps.LatLng({{ oof|safe }}),
         mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("map"), myOptions);
   </script> 
</body>
</html>